.center {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uname
{
    float: right;
    color: white;
}
.logout
{
    margin-left: 2vh;
}
